{% extends "base.html" %}
{% load static %}

{% block css_style %}
    <link rel="stylesheet" href="{% static 'challenges/challenge_page_style.css' %}">
{% endblock css_style %}

{% block titleBlock %}
    {{ month|capfirst }} Travel Challenge
{% endblock %}

{% block BodyBlock %}
    <h1>{{ month|capfirst }}</h1>
    <h2>Destination: {{ place }}</h2>
    <h3>Activities:</h3>
    <ol>
        {% for activity in activities %}
            <li>{{ activity }}</li>
        {% endfor %}
    </ol>
{% endblock %}